# Project Descreption

The Objective of this project is :

1.   Use the OpenFoodFact   that shows  characteristics of certain product groups, similarities between products and product groups, to provide a global view of the dataset, and exhibit salient features that are of interest for an analyst or stakeholder in this sector.

2.   Use some machine learning algorithms to : 

        *   predict the **nutriscore_grade** of a product given nutritional values and possibly other fields (as few as possible)
        *   predict the **nova_group** of a product given nutritional values and possibly other fields (as few as possible),
        *   predict the **pnns_groups_1** of a product given nutritional values and possibly other fields (as few as possible),
        *   predict the **pnns_groups_2** of a product given nutritional values and possibly other fields (as few as possible),
        *   predict the **categories** (either atomic categories or lists of categories) of a product given nutritional values and possibly other fields (as few as possible),
        *   predict one or more **nutritional values** (ex: sugars_100g) given nutritional values and possibly other fields (as few as possible)

# Importing the Libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn')
from scipy.stats import norm, skew
import numpy as np
import seaborn as sns
from sklearn.preprocessing import  StandardScaler
from sklearn.model_selection import train_test_split
from scipy.stats import skew
from scipy.special import boxcox1p
from scipy.stats import boxcox_normmax
import statsmodels.api as sm

# Importing the dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
data = pd.read_csv('/content/drive/My Drive/off_complete.csv', sep = '\t')

In [ ]:
data.head()

# Data Visualisation

In [ ]:
plt.rcParams['figure.figsize'] = (30, 20)
sns.heatmap(data.corr(), annot = True)
plt.title('Histogram of the Dataset', fontsize = 30)
plt.show()

**Note :**
From the heatmap, we can see that **Nutriscore_score** and **Nutriscore_score_fr** are totaly correlated, and **Sodium** and **Salt** too, so we can delete them.

In [ ]:
data.drop(['salt_100g'], 1, inplace=True)
data.drop(['nutrition-score-fr_100g'], 1, inplace=True)

**Comparison the nutriscore grade for every code**

In [ ]:
plt.rcParams['figure.figsize'] = (10, 6)
sns.countplot(data['nutriscore_grade'], palette = 'pink')
plt.title('Most Existing Nutriscore Grade ', fontsize = 20)
plt.show()

**comparison of nova_group for every code**

In [ ]:
plt.rcParams['figure.figsize'] = (10, 5)
sns.countplot(data['nova_group'])
plt.title('Most Existing nova_group ', fontsize = 20)
plt.show()

different pnns_groups_1 acquired by the the products

In [ ]:
plt.rcParams['figure.figsize'] = (40, 25)

plt.style.use('fivethirtyeight')
ax = sns.countplot(data['pnns_groups_1'], palette = 'bone')
ax.set_xlabel(xlabel = 'Different pnns_groups_1', fontsize = 40)
ax.set_ylabel(ylabel = 'Count of Products', fontsize = 40)
ax.set_title(label = 'Comparison of pnns_groups_1 and products', fontsize = 40)
plt.xticks(size = 25)
plt.yticks(size = 30)
plt.show()

**Comparing the product's nutriscore_score**

In [ ]:
import warnings
warnings.filterwarnings('ignore')

plt.rcParams['figure.figsize'] = (25, 15)
sns.distplot(data['nutriscore_score'], color = 'blue')
plt.xlabel('nutriscore_score Range for Products', fontsize = 16)
plt.ylabel('Count of the Products', fontsize = 16)
plt.title('Distribution of nutriscore_score of Products', fontsize = 20)
plt.xticks(rotation = 90)
plt.show()

 show Different fat_100g of the products

In [ ]:
sns.distplot(data['fat_100g'], color = 'pink')
plt.title('Different fat_100g of the products')
plt.xlabel('fat_100g associated with the Products')
plt.ylabel('count of Products')
plt.show()

`show Different countries tags that these products come from`

In [ ]:
data['countries_tags'].value_counts().head(20).plot.bar(color = 'orange', figsize = (20, 7))
plt.title('Different countries tags that these products come from', fontsize = 30, fontweight = 20)
plt.xlabel('Name of The Country')
plt.ylabel('count')
plt.xticks(size = 25)
plt.show()

**show Different brands of the products**

In [ ]:
data['brands'].value_counts().head(20).plot.bar(color = 'orange', figsize = (15, 7))
plt.title('Different brands of the products', fontsize = 30, fontweight = 20)
plt.xlabel('Name of The Brand')
plt.ylabel('count')
plt.xticks(size = 25)
plt.show()

best product per each nutriscore_grade with their , pnns_groups_2, pnns_groups_1 and code  based on their  energy-kcal_100g

In [ ]:
data.iloc[data.groupby(data['nutriscore_grade'])['energy-kcal_100g'].idxmax()][['nutriscore_grade','product_name','nova_group', 'pnns_groups_1',
                                                                    'pnns_groups_2','energy-kcal_100g']].style.background_gradient('Reds')

best product per each nutriscore_grade with their , pnns_groups_2, pnns_groups_1 and code  based on their  proteins_100g

In [ ]:
data.iloc[data.groupby(data['nutriscore_grade'])['proteins_100g'].idxmax()][['nutriscore_grade','product_name','nova_group', 'pnns_groups_1',
                                                                    'pnns_groups_2','proteins_100g']].style.background_gradient('Blues')

**best product per each nutriscore_grade with their , pnns_groups_2, pnns_groups_1 and code  based on their  energy-kcal_100g**

In [ ]:
data.iloc[data.groupby(data['nutriscore_grade'])['carbohydrates_100g'].idxmax()][['nutriscore_grade','product_name','nova_group', 'pnns_groups_1',
                                                                    'pnns_groups_2','carbohydrates_100g']].style.background_gradient('Reds')

**picking up the countries_tags with highest number of products**

In [ ]:
data['countries_tags'].value_counts().head(8)

**the most  countries_tags's products and their nutriscore_score**

In [ ]:
some_countries = ('en:france', 'en:united-states', 'en:spain', 'en:belgium', 'en:united-kingdom', 'en:germany',
                  'en:canada', 'en:france,en:germany')
data_countries = data.loc[data['countries_tags'].isin(some_countries) & data['nutriscore_score']]

plt.rcParams['figure.figsize'] = (15, 7)
ax = sns.violinplot(x = data_countries['countries_tags'], y = data_countries['nutriscore_score'], palette = 'Reds')
ax.set_xlabel(xlabel = 'countries_tags', fontsize = 9)
ax.set_ylabel(ylabel = 'nutriscore_scores', fontsize = 9)
ax.set_title(label = 'Distribution of nutriscore_score of products from different countries_tags', fontsize = 20)
plt.xticks(size = 20)
plt.show()

**Every countries_tags's Product and their energy-kcal_100g**

In [ ]:
some_countries = ('en:france', 'en:united-states', 'en:spain', 'en:belgium', 'en:united-kingdom', 'en:germany',
                  'en:canada', 'en:france,en:germany')
data_countries = data.loc[data['countries_tags'].isin(some_countries) & data['energy-kcal_100g']]

plt.rcParams['figure.figsize'] = (15, 7)
ax = sns.barplot(x = data_countries['countries_tags'], y = data_countries['energy-kcal_100g'],palette = 'Purples')
ax.set_xlabel(xlabel = 'countries_tags', fontsize = 9)
ax.set_ylabel(ylabel = 'energy-kcal_100g', fontsize = 9)
ax.set_title(label = 'Distribution of energy-kcal_100g of products from different countries_tags', fontsize = 20)
plt.xticks(size = 20)
plt.show()


**the the most used and popular product**

In [ ]:
data['product_name'].value_counts().head(10)

In [ ]:
some_products = ('Pâte à sucre', 'The Madelaine Chocolate Company, Solid Milk Chocolate', 'Glaçage fondant'
                 , 'Colorant alimentaire', 'Pain aux 2 lins', 'Miel',
             'The Madelaine Chocolate Company, Solid Dark Chocolate', 'Crème dessert chocolat', 'Vitória crackers')

data_products = data.loc[data['product_name'].isin(some_products) & data['sugars_100g']]

ax = sns.boxplot(x = data_products['product_name'], y = data_products['sugars_100g'], palette = 'inferno')
ax.set_xlabel(xlabel = 'Some Popular product_name', fontsize = 9)
ax.set_ylabel(ylabel = ' sugars_100g', fontsize = 9)
ax.set_title(label = 'Distribution of sugars_100g  in Different popular product_name', fontsize = 20)
plt.xticks(rotation = 90)
plt.xticks(size = 20)
plt.show()

**Distribution of nutriscore_score in some Popular products**

In [ ]:
some_products = ('Pâte à sucre', 'The Madelaine Chocolate Company, Solid Milk Chocolate', 'Glaçage fondant', 'Colorant alimentaire',
                 'Pain aux 2 lins', 'Miel','The Madelaine Chocolate Company, Solid Dark Chocolate', 'Crème dessert chocolat', 'Vitória crackers')

data_products = data.loc[data['product_name'].isin(some_products) & data['nutriscore_score']]

plt.rcParams['figure.figsize'] = (16, 8)
ax = sns.violinplot(x = 'product_name', y = 'nutriscore_score', data = data_products, palette = 'bright')
ax.set_xlabel(xlabel = 'Names of some popular products', fontsize = 10)
ax.set_ylabel(ylabel = 'Distribution of nutriscore_score', fontsize = 10)
ax.set_title(label = 'Disstribution of nutriscore_score  in some Popular product_name', fontsize = 20)
plt.xticks(rotation = 90)
plt.show()

 finding 15 poorest products from  Calcium

In [ ]:
data.sort_values('calcium_100g', ascending = True)[['product_name','nutriscore_grade', 'code', 'nutriscore_score'
,'countries_tags', 'calcium_100g']].head(15).style.background_gradient('viridis')

finding 15 richest products from  Calcium

In [ ]:

data.sort_values('calcium_100g', ascending = False)[['product_name','nutriscore_grade', 'code', 'nutriscore_score',
                                                   'countries_tags', 'calcium_100g']].head(15).style.background_gradient('viridis')

finding 15 poorest products from  Energie

In [ ]:
data.sort_values('energy-kcal_100g', ascending = True)[['product_name', 'nutriscore_grade','code', 'nutriscore_score',
                                                      'countries_tags', 'energy-kcal_100g']].head(15).style.background_gradient('viridis')

**Finding 15 richest products from  Energie**

In [ ]:
data.sort_values('energy-kcal_100g', ascending = False)[['product_name', 'nutriscore_grade','code', 
                                                       'nutriscore_score','countries_tags', 'energy-kcal_100g']].head(15).style.background_gradient('viridis')

In [ ]:
def productdata(x):
    return data.loc[x,:]

x = productdata(233)  
pd.set_option('display.max_rows', 200)
x = pd.DataFrame(x)
print(x)

# Data Preprocessing

In [ ]:
data.shape

In [ ]:
data.columns

In [ ]:
data.info()

**Note**

While the code of products refers to manufacturer-specific coding with tariff indication, The country or the company markets the product, The manufacturer, the Article code and a control key, so we can drop the  product code , because we already have the country that markets the product.

In [ ]:
data.drop(['code'], 1, inplace=True)

In [ ]:
data['url'].values

**Note :**

We see that in every url of the products, it contains the product name and the brand, so we can drop this feature

In [ ]:
data.drop(['url'], 1, inplace=True)

I will Try to find the pourcentage of the null values in every features, and drop the features with more than 70% of null values.

In [ ]:
for i in data.columns:
    h = (data[i].isnull().sum()/len(data['product_name']))*100
    print('The pourcentage of the null values of '+i+' is : ', h, '%')

In [ ]:
data.drop(['trans-fat_100g'], 1, inplace=True)
data.drop(['cholesterol_100g'], 1, inplace=True)
data.drop(['vitamin-a_100g'], 1, inplace=True)
data.drop(['vitamin-c_100g'], 1, inplace=True)
data.drop(['calcium_100g'], 1, inplace=True)
data.drop(['iron_100g'], 1, inplace=True)

I will Pick up the countries_tags with highest number of products

In [ ]:
data['countries_tags'].value_counts().head(15)

In [ ]:
data['countries_tags']=data['countries_tags'].fillna('Unknown')

In [ ]:
countries_tags_values = data['countries_tags'].values
most_countries = ('en:france' , 'en:germany',  'en:spain' , 'en:mexico', 'en:united-kingdom' ,'en:poland', 'en:united-states', 'en:belgium','en:switzerland', 'en:thailand', 'en:sweden')
countrie= {'en:france' : [], 'en:germany': [],  'en:spain': [] , 'en:mexico': [], 'en:united-kingdom': [], 'en:poland': [], 'en:united-states': [], 'en:belgium': [],'en:switzerland': [],
           'en:thailand': [], 'en:sweden': []} 
for i in countries_tags_values : 
   for j in most_countries:
       if j in str(i):
         countrie[j].append(1)
       else : 
          countrie[j].append(0)

In [ ]:
for i in most_countries:
  data[i] = pd.DataFrame(countrie[i])

In [ ]:
data.drop(['countries_tags'], 1, inplace=True)

I will work on the Product Name Feature

In [ ]:
product_names_list = data['product_name'].values
list_products = []
for i in product_names_list:
  i = i.replace('Le', '')
  i = i.replace('La', '')
  i = i.replace('s', '')
  first_word = i.split()[0]
  list_products.append(first_word)
data['product_name'] = pd.DataFrame(list_products)

In [ ]:
data['product_name'].value_counts().head(10)

In [ ]:
product_name__values = data['product_name'].values
most_products = ('Sauce' , 'Yaourt',  'en:spain' , 'Petit', 'Crème' ,'Chocolat', 'Jambon', 'Confiture','Mini', 'Pain', 'Filet')
products= {'Sauce':[] , 'Yaourt':[],  'en:spain':[] , 'Petit':[], 'Crème':[] ,'Chocolat':[], 'Jambon':[], 'Confiture':[],'Mini':[], 'Pain':[], 'Filet':[]} 
for i in product_name__values : 
   for j in most_products:
       if j in str(i):
         products[j].append(1)
       else : 
          products[j].append(0)
for i in most_products:
  data[i] = pd.DataFrame(products[i])
data.drop(['product_name'], 1, inplace=True)

In [ ]:
data.drop(['brands'], 1, inplace=True)

In [ ]:
categories_list = data['categories'].values
list_categories = []
for i in categories_list:
  first_word = i.split()[0]
  first_word = first_word.replace(',', '')
  list_categories.append(first_word)
data['categories'] = pd.DataFrame(list_categories)

In [ ]:
data['categories'].value_counts().head(11)

In [ ]:
categories__values = data['categories'].values
most_categories = ('Aliments' , 'Snacks',  'Produits' , 'Viandes', 'Boissons' ,'Pflanzliche', 'Alimentos', 'Plats','Epicerie', 'Plant-based', 'Desserts')
categories= {'Aliments':[] , 'Snacks':[],  'Produits':[] , 'Viandes':[], 'Boissons':[] ,'Pflanzliche':[], 'Alimentos':[], 'Plats':[],'Epicerie':[], 'Plant-based':[], 'Desserts':[]} 
for i in categories__values : 
   for j in most_categories:
       if j in str(i):
         categories[j].append(1)
       else : 
          categories[j].append(0)
for i in most_categories:
  data[i] = pd.DataFrame(categories[i])
data.drop(['categories'], 1, inplace=True)
data['Aliments'] = data['Aliments']+ data['Alimentos']
aliments_values = data['Aliments'].values
for i in range(len(aliments_values)):
  if aliments_values[i]==2:
        aliments_values[i] = 1
data['Aliments'] = pd.DataFrame(aliments_values)
data.drop(['Alimentos'], 1, inplace=True)

In [ ]:
data.drop(['additives_tags','states'], 1, inplace=True)

In [ ]:
data['nutriscore_grade'].fillna('None', inplace = True)

In [ ]:
df =pd.get_dummies(data['nutriscore_grade'], drop_first=True)
for i in df.columns : 
         data['nutriscore_grade_'+i] = df[i]

In [ ]:
def function_escalier(x):
  if x >=0:
      return(int(x+5))
  else:
    return int(x)

In [ ]:
data['nutriscore_score'] = data['nutriscore_score'].astype(float)
data_grouped = data.groupby('pnns_groups_2')['nutriscore_score'].mean()
grades = list(data['pnns_groups_2'].unique())
for grade in grades:
  p = data['pnns_groups_2'] == grade
  data.loc[p, 'nutriscore_score'] = data.loc[p, 'nutriscore_score'].fillna(function_escalier(data_grouped[grade]))

In [ ]:
df =pd.get_dummies(data['nova_group'])
for i in df.columns[:-1] : 
         data['nova_group'+str(i)] = df[i]
data.drop(['nova_group'], 1, inplace=True)

In [ ]:
data.drop(['nutriscore_grade'], 1, inplace=True)

In [ ]:
dh = data.groupby(['pnns_groups_1'])['pnns_groups_2'].value_counts()

In [ ]:
dh = list(dict(dh))
dh

In [ ]:
data['pnns_groups_1'].fillna('To Replace', inplace = True)
d = data[data['pnns_groups_1'] =='To Replace']['pnns_groups_2']
d.unique()

In [ ]:
new_data = data[['pnns_groups_1','pnns_groups_2']].values
a_list1 = []
a_list2 = []
for i in range(len(new_data)):
     if new_data[i][1]=='Alcoholic beverages':
        new_data[i][0] ='Beverages'
     if new_data[i][1]=='Pizza pies and quiches':
        new_data[i][0] ='Composite foods'
df= pd.DataFrame(new_data, columns = ['pnns_groups_1','pnns_groups_2'])
data['pnns_groups_1'] = df['pnns_groups_1'] 
data['pnns_groups_2'] = df['pnns_groups_2']

In [ ]:
lists= ['energy-kcal_100g','fat_100g', 'saturated-fat_100g','carbohydrates_100g','sugars_100g','fiber_100g','proteins_100g','sodium_100g']
for feature in lists:
    data[feature] = data[feature].astype(float)
    data_grouped = data.groupby('pnns_groups_2')[feature].mean()
    list_feature = list(data['pnns_groups_2'].unique())
    for value_f in list_feature:
         p = data['pnns_groups_2'] == value_f
         data.loc[p, feature] = data.loc[p, feature].fillna(data_grouped[value_f])

In [ ]:
data['fat_100g'] = data['fat_100g'].astype(float)
data_grouped = data.groupby('pnns_groups_2')['fat_100g'].mean()
grades = list(data['pnns_groups_2'].unique())
for grade in grades:
  p = data['pnns_groups_2'] == grade
  data.loc[p, 'fat_100g'] = data.loc[p, 'fat_100g'].fillna(function_escalier(data_grouped[grade]))

In [ ]:
data.head()

In [ ]:
data.isnull().sum()

In [ ]:
data['pnns_groups_2'].unique()

In [ ]:
df =pd.get_dummies(data[['pnns_groups_2']], drop_first=True)
for i in df.columns : 
         data[i] = df[i]
data.drop(['pnns_groups_2'], 1, inplace=True)

In [ ]:
df =pd.get_dummies(data[['pnns_groups_1']], drop_first=True)
for i in df.columns : 
         data[i] = df[i]
data.drop(['pnns_groups_1'], 1, inplace=True)

In [ ]:
data.head()

In [ ]:
data['nutriscore_score'] = data['nutriscore_score'].astype(int)

**Some Statistics**

In [ ]:
features = data
numeric_dtypes = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numerics2 = []
for i in features.columns:
    if features[i].dtype in numeric_dtypes: 
        numerics2.append(i)

skew_features = features[numerics2].apply(lambda x: skew(x)).sort_values(ascending=False)
skews = pd.DataFrame({'skew':skew_features})
skews

**Handling The  Outliers**

In [ ]:
tr = data
for y in tr.columns :
  factor = 4
  upper_lim = data[y].mean () + data[y].std () * factor
  lower_lim = data[y].mean () - data[y].std () * factor
  tr = data[(data[y] < upper_lim) & (data[y] > lower_lim)]



# Prediction of the nutriscore_grade

In [ ]:
X = data.drop(['nutriscore_score'], 1)
y = data['nutriscore_score']

In [ ]:
overfit = []
for i in X.columns:
    counts = X[i].value_counts()
    zeros = counts.iloc[0]
    if zeros / len(X) * 100 >99.94:
        overfit.append(i)

In [ ]:
overfit = list(overfit)
overfit

Let's drop these overfits from 'X' .

In [ ]:
X.drop(overfit,axis=1,inplace=True)

Spliting the datasets into the training set and the test set

In [ ]:
X = X.values
y = y.values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

Scaling the dataset

In [ ]:
sc = StandardScaler()
X_train[:, 1:8] = sc.fit_transform(X_train[:, 1:8])
X_test[:, 1:8] = sc.transform(X_test[:, 1:8])
sc2 = StandardScaler()
y_train = sc2.fit_transform(y_train.reshape(-1, 1))
y_test= sc2.transform(y_test.reshape(-1, 1))

In [ ]:
X